<h1>CherryPieへようこそ！</h1>

<p><%= current_user.sign_in_count %>回目のログインです！</p>

<% if current_user.sign_in_count == 7%>
  <p>今日は勝てるかも！</p>
<% end %>

<% if current_user.sign_in_count == 77%>
  <p>!!SUPER LUCKY!!</p>
<% end %>

<% if current_user.sign_in_count == 777%>
  <p>GOGO!! Parlor!!</p>
<% end %>

<% if current_user.sign_in_count > 777%>
  <p>いつもありがとうございます！</p>
<% end %>

<p>上段のBarから項目を選択してください！</p>
<br/>

<p>タイムライン</p>

<p>テストユーザー : 今日10万負けそうになったけど8万取り返したから実質勝ち！</p>